.float-button {
 background-color:Orange;
opacity: 0.9;
color: white;
border-radius: 30%;
/*border-radius:15% 0 0 0;*/
width: 30px;
padding: 25px;
font-size: 40px;
position: fixed;
bottom: 15%; /* Adjust height */
right: 22%; /* Adjust position */
z-index: 1000;
}
 
.float-button .height_fix {
  margin-top: 100%;
  border: 1px solid red;
}
 
.float-button .content {
  position: absolute;
  left: 0;
  top: 50%;
  height: 100%;
  width: 100%;
  text-align: center;
  margin-top: -20px;
  color: white;
}