<ion-view view-title="Expenses">
  <ion-content>
  <ion-list>
            <!--<div class="item item-divider">Today</div>-->
			 <a class="item item-icon-left item-icon-right" href="#" ng-repeat="expense in expensesData|orderBy: '-date':reverse">
			 <i class="icon ion-clipboard"></i>
				<strong>{{expense.desc}}&nbsp</strong>
                <p>{{expense.paidBy.displayName}} gets back {{expense.getsBack|number:expense.getsBack % 1 > 0 ? 2 : 0}}</p>
				<p>{{expense.date| date:'MMM d,yyyy'}}</p>
                <span class="badge badge-assertive">{{expense.amount|number:expense.amount % 1 > 0 ? 2 : 0}}</span>
				<i class="icon ion-ios-arrow-forward"></i>
				</a>
        </ion-list>
  </ion-content>
  <!-- Button Starts -->
   <div class="float-button">
   <span class="height-fix">
      <a class="content" ng-click="addExpense()">
        <i class="ion-ios-plus"> </i>
      </a>
      </span>
   </div>
  <!-- Button Ends -->
</ion-view>
