<ion-modal-view>
  <ion-header-bar align-title="left" class="bar-energized">
<div class="buttons">
  <button class="button icon ion-close" ng-click="cancelModal()"></button>
</div>
<h1 class="title">Add Expense</h1>
<div class="buttons">
  <button class="button icon ion-android-done-all" ng-click="saveExpense(expense)" ng-show="expense.amount>0">Save</button>
</div>
</ion-header-bar>
    <ion-content>
    <form name="expenseForm" class="list">
        <ion-list>
            <label class="item item-input">
                <span class="input-label">Amount</span>
                <input type="number" placeholder="0.00" ng-model="expense.amount" id="amount" focus-me>
            </label>
            <label class="item item-input">
                <span class="input-label">Description</span>
                <input type="text" name="desc" ng-model="expense.desc">
            </label>
            <label class="item item-select">
                <span class="input-label">Paid By</span>
                   <select ng-model="expense.paidBy" ng-options="item.displayName for item in paidByUsers">
				   </select>
               
            </label>
            <label class="item item-select">
                <span class="input-label">Split</span>
                <select ng-model="expense.split">
                    <option>Equally</option>
                </select>
            </label>
            <label class="item item-input">
                <span class="input-label">Date</span>
                <input type="date" ng-model="expense.date">
            </label>
        </ion-list>
    </form>
    </ion-content>
</ion-modal-view>
